@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

// - Mobile: 375px
// - Desktop: 1440px

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}
